.text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.text-image-container img {
    max-width: 300px; /* Ajusta el tamaño de la imagen */
    margin: 0 20px;
}

.right-image {
    order: 2;
    float: right;
}

.left-image {
    order: 1;
    float: left;
}

.content-block p {
    flex: 1;
    text-align: justify;
}
